In [2]:
import re

re.findall

In [3]:
sentence = 'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

In [10]:
re.findall(r'little lamb', sentence)

['little lamb', 'little lamb']

In [23]:
re.findall(r'\w\w\w', sentence)

['Mar',
 'had',
 'lit',
 'tle',
 'lam',
 'lit',
 'tle',
 'lam',
 'Not',
 'not',
 'not',
 'jus',
 'one']

In [25]:
re.findall(r'\d\d', sentence)

['10', '12', '22']

In [26]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [27]:
re.findall(r'\s', sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [30]:
re.findall(r'\S', sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '.',
 '1',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '.',
 'N',
 'o',
 't',
 '1',
 '0',
 ',',
 'n',
 'o',
 't',
 '1',
 '2',
 ',',
 'n',
 'o',
 't',
 '2',
 '2',
 ',',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e',
 '.']

In [37]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [42]:
re.findall(r'\d+,?', sentence)

['1', '10,', '12,', '22,']

In [43]:
re.findall(r'.+', sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

In [45]:
re.findall(r'....', sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

In [44]:
re.findall(r'.{4}', sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

In [51]:
re.findall(r'\w{3,}', sentence)

['Mary',
 'had',
 'little',
 'lamb',
 'little',
 'lamb',
 'Not',
 'not',
 'not',
 'just',
 'one']

In [52]:
re.findall(r'\w{2,4}', sentence)

['Mary',
 'had',
 'litt',
 'le',
 'lamb',
 'litt',
 'le',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

In [57]:
re.findall(r'\w{1,}', sentence)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 '1',
 'little',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

In [53]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [58]:
re.findall(r'[aeiou]', sentence)

['a', 'a', 'a', 'i', 'e', 'a', 'i', 'e', 'a', 'o', 'o', 'o', 'u', 'o', 'e']

In [63]:
re.findall(r'[\.,]', sentence)

['.', '.', ',', ',', ',', '.']

In [68]:
re.findall(r'[^n-zN-Z]', sentence)

['M',
 'a',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 ' ',
 'e',
 '.']

In [74]:
re.findall(r'[A-Z][a-z]+', sentence)

['Mary', 'Not']

In [77]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [82]:
re.findall(r'[A-Za-z]+\s\d+', sentence)

['Not 10', 'not 12', 'not 22']

In [83]:
re.findall(r'\w+\.', sentence)

['lamb.', 'lamb.', 'one.']

In [88]:
re.findall(r'^.', sentence)

['M']

In [87]:
re.findall(r'\w+\.$', sentence)

['one.']

In [90]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [91]:
re.findall(r'\b\w{3,4}\b', sentence)

['Mary', 'had', 'lamb', 'lamb', 'Not', 'not', 'not', 'just', 'one']

In [93]:
re.findall(r'\b\w{2,4}\b', 'here is         some text')

['here', 'is', 'some', 'text']

In [97]:
x = re.findall(r'(\w+)(\.)', sentence)
type(x), type(x[0])

(list, tuple)

In [100]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [108]:
list(zip(re.findall(r'\w+', sentence), re.findall(r'(\w)+', sentence)))

[('Mary', 'y'),
 ('had', 'd'),
 ('a', 'a'),
 ('little', 'e'),
 ('lamb', 'b'),
 ('1', '1'),
 ('little', 'e'),
 ('lamb', 'b'),
 ('Not', 't'),
 ('10', '0'),
 ('not', 't'),
 ('12', '2'),
 ('not', 't'),
 ('22', '2'),
 ('just', 't'),
 ('one', 'e')]

In [109]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [119]:
re.findall(r'((.)\2)', sentence)

[('tt', 't'), ('tt', 't'), ('22', '2')]

In [128]:
re.findall(r'(([aeiou]).+?\2)', sentence)

[('ary ha', 'a'),
 ('a little la', 'a'),
 ('e lamb. Not 10, not 12, not 22, just one', 'e')]

In [132]:
re.findall(r'(([aeiou]).+?[aeiou])', sentence)

[('ary ha', 'a'),
 ('a li', 'a'),
 ('e la', 'e'),
 ('ittle', 'i'),
 ('amb. No', 'a'),
 ('ot 12, no', 'o'),
 ('ust o', 'u')]

In [126]:
re.findall(r'.+?', sentence)

['M',
 'a',
 'r',
 'y',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 'N',
 'o',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 'u',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 '.']

In [123]:
re.findall(r'.+', sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

In [117]:
re.findall(r'..', sentence)

['Ma',
 'ry',
 ' h',
 'ad',
 ' a',
 ' l',
 'it',
 'tl',
 'e ',
 'la',
 'mb',
 '. ',
 '1 ',
 'li',
 'tt',
 'le',
 ' l',
 'am',
 'b.',
 ' N',
 'ot',
 ' 1',
 '0,',
 ' n',
 'ot',
 ' 1',
 '2,',
 ' n',
 'ot',
 ' 2',
 '2,',
 ' j',
 'us',
 't ',
 'on',
 'e.']

In [134]:
sentence = '''
You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
'''

print(sentence)

You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).

In [138]:
re.findall(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}', sentence)

['123.123.123.123']

In [137]:
re.search(r'(\d{1,3}\.){3}\d{1,3}', sentence)[0]

'123.123.123.123'

In [153]:
url_re = re.compile('''
(?P<protocol>https?) (?# either http or https)
://
(?P<sub>(\w+\.)+)?   (?# zero or more subdomains)
(?P<domain>\w+)
\.
(?P<tld>\w+)         (?# the top-level domain)
''', re.VERBOSE)

url_re.search(sentence).groupdict()
url_re.search('https://java.codeup.com').groupdict()
url_re.search('https://python.ds.codeup.com').groupdict()

{'protocol': 'https', 'sub': 'python.ds.', 'domain': 'codeup', 'tld': 'com'}

In [165]:
re.findall(r'''
[aeiou]      (?# a vowel)
[^aeiou]+    (?# one or more non-vowels)
[aeiou]      (?# lastly, another vowel)
''', 'abcde', re.VERBOSE)

['abcde']

In [167]:
[re.search(r'a', 'abcde'),
 re.search(r'\d+', 'abcde'),
 re.search(r'\w+', 'abcde')]

if re.search(r'\d+', 'abcde'):
    print('Found a digit!')
    
if re.search(r'[a-z]', 'abcde'):
    print('Found a lowercase letter!')

Found a lowercase letter!

In [168]:
re.sub

In [177]:
re.sub(r'.(.)$', r'X\1', 'abcde')

'abcXe'

In [192]:
import pandas as pd
from pandas import Series

In [204]:
log_data = '''
97.105.19.58 - - [16/Apr/2019:19:34:42 +0000] "GET /api/v1/sales?page=81 HTTP/1.1" 200 512495 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:42 +0000] "GET /api/v1/items HTTP/1.1" 200 3561 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:44 +0000] "GET /api/v1/sales?page=82 HTTP/1.1" 200 510103 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:46 +0000] "GET /api/v1/sales?page=83 HTTP/1.1" 200 510003 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:48 +0000] "GET /api/v1/sales?page=84 HTTP/1.1" 200 511963 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:48 +0000] "GET /api/v1/stores HTTP/1.1" 200 1328 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:50 +0000] "GET /api/v1/sales?page=85 HTTP/1.1" 200 510753 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:52 +0000] "GET /api/v1/sales?page=86 HTTP/1.1" 200 510348 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:52 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.21.0"
97.105.19.58 - - [16/Apr/2019:19:34:53 +0000] "GET /api/v1/items HTTP/1.1" 200 3561 "-" "python-requests/2.21.0"
'''.strip()

log_data = Series(log_data.split('\n'))

log_line_re = re.compile(r'''
^
(?P<ip>(?:\d+\.){3}\d+) (?# ip address)
.+?\[
(?P<day>\d+) (?# day)
/
(?P<month>\w+) (?# month)
/
(?P<year>\d{4}) (?# year)
''', re.VERBOSE | re.MULTILINE)

log_data.str.extract(log_line_re)

# log_data.str.contains('^\d+')

# log_data.str.replace(r'^((?:\d+\.){3}\d+).+?\[(.*?)\].*$', r'\2, \1')

             ip day month  year
0  97.105.19.58  16   Apr  2019
1  97.105.19.58  16   Apr  2019
2  97.105.19.58  16   Apr  2019
3  97.105.19.58  16   Apr  2019
4  97.105.19.58  16   Apr  2019
5  97.105.19.58  16   Apr  2019
6  97.105.19.58  16   Apr  2019
7  97.105.19.58  16   Apr  2019
8  97.105.19.58  16   Apr  2019
9  97.105.19.58  16   Apr  2019

In [198]:
# re.search(log_line_re, log_data).groupdict()
# re.findall(r'^((?:\d+\.){3}\d+).+?\[(\d+)/(\w+)/(\d{4})', log_data, re.MULTILINE)