In [2]:
import re

re.findall

In [3]:
sentence = 'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

In [10]:
re.findall(r'little lamb', sentence)

['little lamb', 'little lamb']

In [23]:
re.findall(r'\w\w\w', sentence)

['Mar',
 'had',
 'lit',
 'tle',
 'lam',
 'lit',
 'tle',
 'lam',
 'Not',
 'not',
 'not',
 'jus',
 'one']

In [25]:
re.findall(r'\d\d', sentence)

['10', '12', '22']

In [26]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [27]:
re.findall(r'\s', sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [30]:
re.findall(r'\S', sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '.',
 '1',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '.',
 'N',
 'o',
 't',
 '1',
 '0',
 ',',
 'n',
 'o',
 't',
 '1',
 '2',
 ',',
 'n',
 'o',
 't',
 '2',
 '2',
 ',',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e',
 '.']

In [37]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [42]:
re.findall(r'\d+,?', sentence)

['1', '10,', '12,', '22,']

In [43]:
re.findall(r'.+', sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

In [45]:
re.findall(r'....', sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

In [44]:
re.findall(r'.{4}', sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

In [51]:
re.findall(r'\w{3,}', sentence)

['Mary',
 'had',
 'little',
 'lamb',
 'little',
 'lamb',
 'Not',
 'not',
 'not',
 'just',
 'one']

In [52]:
re.findall(r'\w{2,4}', sentence)

['Mary',
 'had',
 'litt',
 'le',
 'lamb',
 'litt',
 'le',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

In [57]:
re.findall(r'\w{1,}', sentence)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 '1',
 'little',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

In [53]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [58]:
re.findall(r'[aeiou]', sentence)

['a', 'a', 'a', 'i', 'e', 'a', 'i', 'e', 'a', 'o', 'o', 'o', 'u', 'o', 'e']

In [63]:
re.findall(r'[\.,]', sentence)

['.', '.', ',', ',', ',', '.']

In [68]:
re.findall(r'[^n-zN-Z]', sentence)

['M',
 'a',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 ' ',
 'e',
 '.']

In [74]:
re.findall(r'[A-Z][a-z]+', sentence)

['Mary', 'Not']

In [77]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [82]:
re.findall(r'[A-Za-z]+\s\d+', sentence)

['Not 10', 'not 12', 'not 22']

In [83]:
re.findall(r'\w+\.', sentence)

['lamb.', 'lamb.', 'one.']

In [88]:
re.findall(r'^.', sentence)

['M']

In [87]:
re.findall(r'\w+\.$', sentence)

['one.']

In [90]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [91]:
re.findall(r'\b\w{3,4}\b', sentence)

['Mary', 'had', 'lamb', 'lamb', 'Not', 'not', 'not', 'just', 'one']

In [93]:
re.findall(r'\b\w{2,4}\b', 'here is         some text')

['here', 'is', 'some', 'text']

In [97]:
x = re.findall(r'(\w+)(\.)', sentence)
type(x), type(x[0])

(list, tuple)

In [100]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [108]:
list(zip(re.findall(r'\w+', sentence), re.findall(r'(\w)+', sentence)))

[('Mary', 'y'),
 ('had', 'd'),
 ('a', 'a'),
 ('little', 'e'),
 ('lamb', 'b'),
 ('1', '1'),
 ('little', 'e'),
 ('lamb', 'b'),
 ('Not', 't'),
 ('10', '0'),
 ('not', 't'),
 ('12', '2'),
 ('not', 't'),
 ('22', '2'),
 ('just', 't'),
 ('one', 'e')]

In [109]:
print(sentence)

Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.

In [119]:
re.findall(r'((.)\2)', sentence)

[('tt', 't'), ('tt', 't'), ('22', '2')]

In [128]:
re.findall(r'(([aeiou]).+?\2)', sentence)

[('ary ha', 'a'),
 ('a little la', 'a'),
 ('e lamb. Not 10, not 12, not 22, just one', 'e')]

In [132]:
re.findall(r'(([aeiou]).+?[aeiou])', sentence)

[('ary ha', 'a'),
 ('a li', 'a'),
 ('e la', 'e'),
 ('ittle', 'i'),
 ('amb. No', 'a'),
 ('ot 12, no', 'o'),
 ('ust o', 'u')]

In [126]:
re.findall(r'.+?', sentence)

['M',
 'a',
 'r',
 'y',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 'N',
 'o',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 'u',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 '.']

In [123]:
re.findall(r'.+', sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

In [117]:
re.findall(r'..', sentence)

['Ma',
 'ry',
 ' h',
 'ad',
 ' a',
 ' l',
 'it',
 'tl',
 'e ',
 'la',
 'mb',
 '. ',
 '1 ',
 'li',
 'tt',
 'le',
 ' l',
 'am',
 'b.',
 ' N',
 'ot',
 ' 1',
 '0,',
 ' n',
 'ot',
 ' 1',
 '2,',
 ' n',
 'ot',
 ' 2',
 '2,',
 ' j',
 'us',
 't ',
 'on',
 'e.']

In [134]:
sentence = '''
You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
'''

print(sentence)

You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).

In [138]:
re.findall(r'\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}', sentence)

['123.123.123.123']

In [137]:
re.search(r'(\d{1,3}\.){3}\d{1,3}', sentence)[0]

'123.123.123.123'