In [1]:
import pandas as pd
import env

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/numbers'

In [2]:
df = pd.read_sql('SELECT * FROM numbers_with_more_groups', url)
df

    n category supergroup
0   1        a        one
1   2        b        two
2   3        c        one
3   4        a        two
4   5        b        one
5   6        c        two
6   7        a        one
7   8        b        two
8   9        c        one
9  10        a        two

## Exercise

1. Obtain the `cars.csv` file from the [google classroom](https://classroom.google.com/u/1/c/Mjc3NjgxNDE5NjJa) and read it into python with pandas.
1. Create a feature named `gt_avg`, which should be either 1 or 0. The value should indicate whether or not a given price is greater than the average price for that car's combination of year, make, and model.
1. Drop the `Id`, `City`, and `Vin` columns.
1. Encode the categorical features as necessary. You might wish to use a `sklearn.preprocessing.LabelEncoder`.
1. Split the data into training and test sets.