In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame(dict(x=[1, 2, 3, 4, 5, 6, 7]))

In [12]:
df['y'] = df.x * 2

In [13]:
df.loc[2:4, 'y'] = np.nan

In [17]:
# not na values
df[~ df.y.isna()]

   x     y
0  1   2.0
1  2   4.0
5  6  12.0
6  7  14.0

In [18]:
# na values
df[df.y.isna()]

   x   y
2  3 NaN
3  4 NaN
4  5 NaN

In [21]:
x = df.loc[df.y.isna(), 'x']
x

2    3
3    4
4    5
Name: x, dtype: int64

In [28]:
# this step could be *much* more complicated
y_predictions = x * 1.98
y_predictions

2    5.94
3    7.92
4    9.90
Name: x, dtype: float64

In [26]:
df.loc[df.y.isna(), 'y'] = y_predictions

In [27]:
df

   x      y
0  1   2.00
1  2   4.00
2  3   5.94
3  4   7.92
4  5   9.90
5  6  12.00
6  7  14.00